/*.container-footer-top {
    background: #2196F3;
    padding: 10px 0;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4);
}

.container-footer-middle {
    padding: 40px 0 20px 0;
    background: #111;
    color: #fff;
    font-size: 12px;
    text-align: center;
}

.container-footer-bottom {
    padding: 15px 0;
    background: #111;
    font-size: 11px;
    text-align: center;
}

.line {
    background: #111;
    border-top: 1px solid #000;
    border-bottom: 1px solid #222;
    border-left: none;
    border-right: none;
    height: 1px;
    width: 100%;
    margin: 0px;
}*/

.container-footer-middle {
    padding: 40px 0 20px 0;
    color: #fff;
    font-size: 12px;
    text-align: center;
}

.container-footer-bottom {
    padding: 15px 0;
    font-size: 11px;
    text-align: center;
}

.container-main-footer {
}

.container-footer {
    background: url(../images/footer-bg.png) repeat-x;
    padding-top: 20px;
    background-size: auto 100%;
}

/* Footer nav */

.footer-navigation ul {
    margin: 0px;
    list-style-type: none;
    padding: 0px;
    display: flex;
    justify-content: space-around;
}

.footer-navigation li {
    padding: 5px 15px;
}

.footer-navigation li a {
    color: #fff;
    font-weight: bold;
}

.white {
    color: white;
}