.header-cart-icon {
    background: url(../images/icon-cart.png) no-repeat;
    height: 50px;
    width: 50px;
    background-size: 35px 35px;
    background-position: center;
}

.header-cart-text .menu {
    margin: 0px;
    padding: 10px;
    list-style-type: none;
}

.header-cart-text #menu-item-111 {
    display: none;
}

.header-cart-control {
    display: flex;
    background: #2196f3;
    border-radius: 15px;
    padding: 5px 10px;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.header-cart-info {
    margin-left: 5px;
}

.header-cart-header {
    color: white;
    font-weight: bold;
}

.header-cart-text a {
    line-height: 21px;
    font-size: 14px;
    color: #5B5B5B;
    text-shadow: 0 1px 2px #FFF;
}