/* desktop header */

.container-desktop-header {
    position: absolute;
    width: 100%;
    background: rgba(189, 189, 189, 0.5);
    height: 52px;
    z-index: 50;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

.header-logo {
    height: 52px;
    padding: 6px;
}

.header-logo img {
    height: 100%;
}

.header-main-menu ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    display: flex;
    justify-content: center;
    height: 52px;
    align-items: center;
}

.header-main-menu li {
    padding: 5px 10px 5px 20px;
    background: url(../images/hexagon-icon.png);
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: left;
    margin: 0px 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;
}

.header-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 52px;
    width: 52px;
    background: #fb9b38;
    color: white;
    cursor: pointer;
    margin-top: 0px;
}

.header-icon:hover {
    background: #fb9b38;
}

.header-icon:active {
    background: #fb9447;
}

.header-search {
    position: relative;
}

.header-search-widget-container {
    position: fixed;
    top: 60px;
    right: -475px;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

.header-search-widget {
    /*background: rgba(189, 189, 189, 0.5);*/
    padding: 10px;
    margin-right: 15px;
}

.header-menu-widget {
    /*background: rgba(189, 189, 189, 0.5);*/
    padding: 10px;
    margin-left: 15px;
}

.header-menu-widget-container {
    position: absolute;
    top: 60px;
    left: -485px;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    width: 460px;
}

.header-tablet-menu-list ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

.header-tablet-menu-list li {
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
}

.header-gray {
}
#header-search-widget, #header-menu-widget {
    background: #f0f0f0;
}

.header-logo-mobile {
    display: none;
}

.header-search-widget-input {
    margin-right: 10px;

}

@media (max-width: 992px) {

    .header-logo {
        text-align: center;
    }

}

@media (max-width: 500px) {

    .header-logo-mobile {
        display: inline-block;
    }

    .header-logo-desktop {
        display: none;
    }

    .header-menu-widget-container {
        width: 100%;
    }

    .header-menu-widget {
        margin-right: 15px;
    }

    .header-search-widget-container {
        width: 100%;
    }

    .header-search-widget {
        display: flex;
        flex-direction: column;
        margin-left: 15px;
    }

    .header-search-widget-input {
        margin-bottom: 10px;
        margin-right: 0px;
    }
}