body, html {
    margin: 0px;
    padding: 0px;
    color: #4a4a4a;
}

html {
    background: url(../images/background.png);
}

body {
    background-color: rgba(255, 255, 255, 0);
}

h1 {
    margin-top: 10px;
    margin-bottom: 20px;
    text-shadow: 0 1px 0 #bfbfbf;
}

.container-logo {
    margin-top: 58px;
}

.container-header {
    background: url(../images/header-background.png) 0 0 repeat-x;
    height: 170px;
}

.container-header-control {
    display: flex;
    justify-content: space-around;
    height: 50px;
    background: url(../images/header-top-block-background.png) 50% 100% no-repeat;
}

.header-search {
    width: 100%;
    border-radius: 50px;
    padding: 5px 15px;
    border: 1px solid #ddd;
    position: relative;
}

.search-button {
    background: url(../images/icon-search.png) no-repeat;
    height: 20px;
    width: 20px;
    background-size: 20px 20px;
    border: none;
    position: absolute;
    right: 13px;
    top: 15px;
}

.container-header-search {
    margin-top: 15px;
    position: relative;
}

.header-control {
    margin-right: 15px;
}

.container-header-menu {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.container-menu-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.white-link {
    color: #757575;
    text-decoration: none;
    font-weight: 600;
}

.header-contact {
    text-align: right;
}

.menu-button {
    margin-top: 5px;
    margin-bottom: 8px;
    border-radius: 50px;
    padding: 3px 30px;
    border: 1px solid #ddd;
    background: #fefcea;
    background: linear-gradient(to top, #e0e0e0, #f8f8f8);
    color: #000;
    text-shadow: 0 1px 0 #fff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    -webkit-box-shadow: 0 2px 5px #7b6d41;
    width: 100%;
}

.header-cart-control {
    background: url(../images/trash-block-background.png) 0 0 repeat-x;
    height: 50px;
    display: flex;
    line-height: 21px;
    font-size: 14px;
    color: #5B5B5B;
    text-shadow: 0 1px 2px #FFF;
    -webkit-border-radius: 0 0 15px 15px;
    -moz-border-radius: 0 0 15px 15px;
    border-radius: 0 0 15px 15px;
    box-shadow: 0 2px 5px #5D8917;
    -webkit-box-shadow: 0 2px 5px #7b7065;
    -moz-box-shadow: 0 2px 5px #5D8917;
    padding: 0px;
}

.header-cart-icon {
    background: url(../images/icon-trash.png) 0 0 no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
    margin-left: 5px;
}

.main-slider-item {
    height: auto;
}

.main-slider-item img {
    width: 100%
}

.slick-arrow {
    position: absolute;
    top: 50%;
    width: 22px;
    height: 45px;
    cursor: pointer;
    margin-top: -22px;
    background: url(../images/arrows.png) no-repeat;
}

.slick-prev-arrow {
    left: -40px;
}

.slick-next-arrow {
    right: -40px;
    background-position: -22px 0;
}

.container-blue {
    background-color: #cad8ff;
}

.advantages-wrapper {
    display: flex;
    justify-content: space-between;
}

.advantages-item {
    text-align: center;
    padding: 30px;
}

.advantages-icon {
    height: 70px;
    display: flex;
}

.advantages-text {
    color: #666;
    font-weight: bold;
    text-shadow: 0 1px 0 #ffffff;
}

.advantages-icon img {
    margin: auto;
}

.container-slider-small {
    padding-bottom: 100px;
}

.container-sentence {
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
}

.sentence-img {
    position: absolute;
    right: 0px;
    bottom: -70px;
}

.sentence-block {
    background: url(../images/cursor-orange.png) no-repeat;
    height: 60px;
    background-size: 340px 60px;
    background-position: left;
    display: flex;
    align-items: center;
    padding-left: 36px;
    width: 350px;
}

.sentence-text {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    text-shadow: 0 1px 0 #6b6b6b;
    font-size: 18px;
}

.header-link {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    text-shadow: 0 1px 0 #4f7f0c;
    font-size: 12px;
    line-height: 50px;
}

.header-link:hover {
    color: #fff;
}

.header-search {
    height: 20px;
    border: 1px solid #cfc8bc;
    background: #f9f9f9 url(../images/input-block.png) repeat-x;
    position: relative;
    border-radius: 3px;
    box-shadow: 0 1px 0 #fff;
    margin-top: 15px;
    color: #5b5b5b;
    padding: 0 10px;
}

.header-action-control {
    display: flex;
    justify-content: flex-end;
    margin-right: 15px;
    margin-top: 10px;
}

.white-link {
    color: #fff;
}

.white-link:active {
    color: #fff;
}

.white-link:hover {
    color: #fff;
}

.white-link:focus {
    color: #fff;
}

.recall-me {
    font-size: 16px;
    line-height: 16px;
    text-decoration: none;
    border-bottom: 1px dotted #fff;
    text-shadow: 0px 1px 0px rgba(56, 92, 6, 0.4);
}

.phone-block-item {
    font-size: 16px;
    text-shadow: 0px 1px 0px rgba(56, 92, 6, 0.4);
    line-height: 22px;
    background-repeat: no-repeat;
    background-position: left 3px;
    padding-left: 20px;
}

.phone-block-item-beeline {
    background-image: url(../images/phone-beeline.png);
}

.phone-block-item-megafon {
    background-image: url(../images/phone-megafon.png);
}

.phone-block-item-mts {
    background-image: url(../images/phone-mts.png);
}

.header-contact a {
    color: #fff;
    text-decoration: none;
}

.header-contacts-control {
    margin-right: 15px;
    margin-top: 20px;
}

.container-about {
    background: #f0f0f0 url(../images/about-bg.png) repeat-x;
}

.container-advantages {
    background: url(../images/shadow.png) 50% 0 no-repeat;
    background-position: bottom;
}

.offers-tabs-wrapper .offers-tab-hidden-link {
    display: none;
}

.offers-tabs-wrapper .active .offers-tab-hidden-link {
    display: block;
}

.tab-block-links {
    height: 50px;
    line-height: 50px;
    background: #B5B5B5;
    padding: 0 20px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 3px 3px 0 0;
    margin-right: 1px;
    cursor: pointer;
    display: flex;
}

.tab-block-links:hover {
    background: #fb9b38;
}

.offers-tabs-wrapper .active {
    background: #fb9b38;
    cursor: default;
}

.offers-tabs-wrapper {
    border-bottom: 2px solid #fb9b38;
    margin-bottom: 25px;
    position: relative;
    margin-left: 0px;
    padding-left: 0px;
    display: flex;
}

.tab-block-link {
    margin-right: 10px;
}

.offers-tab-hidden-link {
    font-size: 13px;
    margin-left: 10px;
    font-weight: normal;
}

.container-offers-tabs {
    padding-top: 30px;
}

.tab-block-links-right {
    height: 50px;
    line-height: 50px;
    background: #FF0000;
    padding: 0 20px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 3px 3px 0 0;
    margin-right: 1px;
    cursor: pointer;
    display: flex;
    position: absolute;
    right: 0px;
}

.offers-tab-hidden-link-right {
    font-size: 13px;
    margin-left: 10px;
    font-weight: normal;
}

.dgwt-wcas-sf-wrapp input[type="search"].dgwt-wcas-search-input {
    height: 25px;
}

.header-control-search {

}

.dgwt-wcas-search-wrapp {
    min-width: 250px !important;
}

.text-big {
    font-size: 25px;
}

.product-category .count {
    display: none;
}

.shop-sidebar-widget .product-categories {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: block;
    border-radius: 5px;
    background: #efefef;
    box-shadow: 0px 4px 9px 0px #a4a4a4, inset 0px 0px 5px 0px #fff;
    margin-bottom: 25px;
}

.shop-sidebar-widget .children {
    padding: 0px;
    list-style: none;
}

.shop-sidebar-widget .children .current-cat > a {
    text-decoration: underline;
    font-weight: bold;
}

.shop-sidebar-widget li {
    padding: 12px 30px;
    font-size: 15px;
    font-weight: 700;
    position: relative;
}

.shop-sidebar-widget .product-categories > li {
    background: url(../images/box-li.png) 15px 100% no-repeat;
}

.shop-sidebar-widget .product-categories > li a {
    color: #fb9b38;;
}

.shop-sidebar-widget .children li {
    padding: 5px 0px 5px 0px;
}

.shop-sidebar-widget .children > li a {
    font-size: 13px;
    color: #56a2fe;
    font-weight: normal;
}

.shop-sidebar-widget-title {
    white-space: nowrap;
    font-size: 22px;
    color: #fb9b38;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 25px;
    margin-top: 15px;
    text-align: center;
}

.page-title {
    white-space: nowrap;
    font-size: 22px;
    color: #fb9b38;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 25px;
    margin-top: 15px;
    text-align: center;
}

.woocommerce div.product .product_title {
    white-space: nowrap;
    font-size: 22px;
    color: #fb9b38;
    font-weight: 700;
    line-height: 1;
    text-shadow: none;
    margin-top: 15px;
    text-align: center;
}

.product .input-text {
    border: 1px solid #CFC8BC;
    background: #F9F9F9 url(../images/input-block.png) repeat-x;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    box-shadow: 0 1px 0 #FFF;
    -webkit-box-shadow: 0 1px 0 #FFF;
    -moz-box-shadow: 0 1px 0 #fff;
}

.woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1 {
    max-width: inherit;
    float: inherit;
    width: 100%;
}

.woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2 {
    max-width: inherit;
    float: inherit;
    width: 100%;
}

.woocommerce .col2-set, .woocommerce-page .col2-set {
    width: 52.9411764706%;
}

.woocommerce .woocommerce-breadcrumb {
    margin-top: 15px;
    margin-bottom: 15px;
}

.item-title {
    color: #fb9b38;
    font-size: 22px;
    font-weight: 700;
    white-space: nowrap;
}

.color-text-item {
    color: #5b5b5b;
}

.marg-bott-18 {
    margin-bottom: 1.8rem;
}

.table-title {
    color: #fb9b38;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 0.1rem;
    margin-top: 0.1rem;
}

.theader-back {
    font-weight: 600;
    font-size: 14px;
    background: url(../images/th-background.png) repeat-x;
    height: 43px;
    color: #464646;
}

.thead-border {
    border-left: 1px dotted #7eb61e !important;
    border-top: 1px dotted #7eb61e !important;
    border-bottom: 1px dotted #7eb61e !important;
    border-right: 1px dotted #7eb61e !important;
    vertical-align: middle !important;
    text-align: center !important;
}

.about-item {
    font-size: 18px;
    /*font-weight: 600;*/
    margin-bottom: 18px;
}

.item-name-a {
    color: #56a2fe;
    text-decoration: underline;
    outline: none;
}

.item-name-a:hover {
    text-decoration: none;
    color: #56a2fe;
}

.block-line {
    height: 40px;
    clear: both;
    margin-bottom: 20px;
}

.block-line-div {
    background: url(../images/line.png) 100% 50% repeat-x;
    vertical-align: middle;
    height: 40px;
}

.buy-button, .buy-button:hover, .buy-button:focus {
    border: solid 2px #ffa404;
    border-radius: 30px;
    background: #f6f6f6;
    color: #59900f;
    padding: 3px 2rem;
    font-size: 15px;
    font-weight: 700;
}

.button-img-padd {
    padding-right: 0.5rem;
}

.table-hover > tbody > tr:hover, .table-hover > tbody > tr:hover {
    background: #fff;
    border: 2px solid #FFA205;
    border-radius: 10px;
}

.shadow-box {
    box-shadow: black 0 0 24px;
}

.order-button, .order-button:hover, .order-button:focus {
    border: solid 3px #ffa404;
    border-radius: 30px;
    background: #f6f6f6;
    font-size: 15px;
    font-weight: 700;
    color: #3a5c02;
    padding: 10px 4rem;

}

.custom-border-bottom {
    border-bottom: 1px dotted #7eb61e;
}

.grey {
    color: #464646;
}

.custom-product-table td {
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
    vertical-align: middle;
    border-bottom: 1px dotted #7eb61e;
    border-top: 0px;
}

.footer-contact {
    font-size: 26px;
}

.entry-title {
    white-space: nowrap;
    font-size: 22px;
    color: #fb9b38;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 25px;
    margin-top: 15px;
    text-align: center;
}

.woocommerce ul.products li.product a img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 0 1em;
    -webkit-box-shadow: none;
    box-shadow: 0.4em 0.4em 5px rgba(122, 122, 122, 0.5);
}

.tab-content>.tab-pane {
    display: none;
}

.tab-content>.active {
    display: block;
}

@media(max-width: 991px) {
    .header-search {
        margin-top: 0;
        border:none;
        border-radius:0;
        box-shadow:none;
    }
    .offers-tabs-wrapper {
        display: block;
    }
    .content-area {
        margin-top: 5rem;
    }
}

@media (max-width: 820px) {
    .slick-next-arrow, .slick-prev-arrow {
        display: none!important;
    }
}

.mobile-category, a, a:focus, a:active, a:hover {
    color: #fb9b38;
    text-decoration: none;
}
.product-categories .children > li a {
    color: #56a2fe;
    font-weight: normal;
}
.children ul {
    overflow-y: scroll;
    height: 200px;
}
