.item {
    margin-bottom: 2rem;
    font-size: 13px;
    line-height: 20px;
    color: #5b5b5b;
}

.news-title {
    color: #FF9E04;
    font-size: 22px;
    font-weight: 700;
}

.news-item-date {
    color: #666;
    font-size: 11px;
    margin-bottom: 5px;
}

.news-title-wrapper {
    margin-bottom: 10px;
}

.news-horisontal-separator {
    border-bottom: 1px dotted #6c6c6c;
}

.news-item-text {
    margin-bottom: 15px;
}

.news-item-link {
    margin-bottom: 5px;
}

.block-news {
    position: relative;
    border-right: #FF9E04 1px solid;
    padding-right: 10px;
}

.folder-img {
    padding: 0px 2px 0px 8px;
}

.date-img {
    padding: 0 8px 0 0px;
}

.subscribe-container {
    padding: 20px;
    background: #E3E3E3;
    border-radius: 10px;
}

.input-block {
    height: 28px;
    border: 1px solid #cfc8bc;
    background: #f9f9f9 ;
    border-radius: 3px;
    box-shadow: 0 1px 0 #fff;
    margin-bottom: 15px;
    color: #5b5b5b;
    padding: 0 10px;
    margin-top: 1rem;
}

.input-block input {
    font-size: 13px;
    font-family: 'Open Sans';
    height: 28px;
    border: none;
    outline: none;
    resize: none;
    background: transparent;
    width: 100%;
}

.button-container {
}

.sub-button, .sub-button:hover, .sub-button:focus {
    border: solid 2px #ffa404;
    border-radius: 30px;
    background: #f6f6f6;
    color: #3a5c02;
    padding: 10px 3rem;
    font-size: 15px;
    font-weight: 700;
}
.news .last {
    border-bottom: none;
}

.news-title-link {
    font-size: 11px;
    font-weight: 400;
}

.rpwe-ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.rpwe-time {
    color: #666;
    font-size: 11px;
} 

.rpwe-title a {
    color: #007bff;
    font-size: 13px;
    line-height: 20px;
}

.rpwe-li {
    margin-bottom: 20px;
    font-size: 13px;
    line-height: 20px;
    color: #5b5b5b;
    padding-bottom: 20px;
    border-bottom: 1px dotted #6c6c6c;
}

.rpwe-img {
    margin-right: 8px;
}

.rpwe-img img {
    width: 10px;
}
@media (min-width: 766px) and (max-width: 991px) {
    .sub-button, .sub-button:hover, .sub-button:focus {
        font-size: 10px;
    }
}