.add_to_cart_button  {
    background: #fb9b38!important;
    color: white!important;
    border-radius: 50px!important;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4)!important;
}

.add_to_cart_button:hover  {
    background: #f9a34b!important;
}

.add_to_cart_button:active  {
    background: #ff8b14!important;
}

.single_add_to_cart_button {
    background: #fb9b38!important;
    color: white!important;
    border-radius: 50px!important;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4)!important;
    font-size: 20px;
}