.dgwt-wcas-search-input {
    width: 100%;
    border-radius: 50px!important;
    padding: 5px 15px!important;
    border: 1px solid#ddd!important;
    position: relative;
    height: 25px!important;
}

.dgwt-wcas-sf-wrapp {
    border-radius: 50px;
}

.dgwt-wcas-sf-wrapp .dgwt-wcas-search-submit:before {
    display: none;
}

.dgwt-wcas-search-submit {
    background: url(../images/icon-search.png) no-repeat;
    height: 20px!important;
    width: 20px;
    background-size: 20px 20px;
    border: none!important;
    position: absolute!important;
    right: 7px!important;
    top: 3px!important;
    background-color: rgba(0, 0, 0, 0)!important;
    padding: 0!important;
    min-width: 20px!important;
}

.dgwt-wcas-preloader {
    margin-right: 10px;
}

.dgwt-wcas-suggestions-wrapp {
    border-radius: 50px;
    margin-top: 3px;
}