



.item-title {
    font-size: 22px;
    font-weight: 700;
    white-space: nowrap;
}

.color-text-item {
    color: #5b5b5b;
}
.color-text-item > p {
    font-size: 13px;
    font-family: 'Open Sans', verdana, sans-serif;
}

.description {
    padding-bottom: 4.5rem;
    background: url(../images/kol-block.png) 0 100% no-repeat;
}

.marg-bott-18 {
    margin-bottom: 1.8rem;
}


.theader-back {
    font-weight: 600;
    font-size: 14px;
    background: url(../images/th-background.png) repeat-x;
    height: 43px;
    color: #464646;
}
.thead-border {
    border: 1px dotted #ffa404;
}

.item-name-a {
    color: #56a2fe;
    text-decoration: underline;
    outline: none;
}

.item-name-a:hover {
    text-decoration: none;
    color: #56a2fe;
}
.block-line {
    height: 40px;
    clear: both;
    margin-bottom: 20px;
}
.block-line-div {
    background: url(../images/line.png) 100% 50% repeat-x;
    vertical-align: middle;
    height: 40px;
}
.buy-button, .buy-button:hover, .buy-button:focus {
    border: solid 2px #ffa404;
    border-radius: 30px;
    background: #f6f6f6;
    color: #ffa404;
    padding: 3px 2rem;
    font-size: 15px;
    font-weight: 700;
}
.button-img-padd {
    padding-right: 0.5rem;
}
.table-hover > tbody > tr:hover , .table-hover > tbody > tr:hover  {
    background: #fff;
    border: 2px solid #FFA205;
    border-radius: 10px;
}
.shadow-box {
    box-shadow: black 0 0 24px;
}
.order-button, .order-button:hover, .order-button:focus, .btn-primary:not(:disabled):not(.disabled):active {
    border: solid 3px #ffa404;
    border-radius: 30px;
    background: #f6f6f6;
    font-size: 15px;
    font-weight: 700;
    color: #ffa404;
    padding: 10px 4rem;

}
.border-bottom {
    border-bottom: 1px dotted #ffa404;
}
.grey {
    color: #464646;
}
caption {
    text-align: center;
    caption-side: top;
}
table tbody {
    font-size: 13px;
}

.product-table-quantity {
    width: 50px;
}

.custom-category-image img {
    width: 100%;
}