h1, h2, h3, h4, h5, h6 {
    color: #333333;
}

ul.products li.product.product-category .woocommerce-loop-category__title, ul.products li.product.product-category h2, ul.products li.product.product-category h3 {
    font-size: 1.1em;
}

ul.products li.product .woocommerce-loop-product__title, ul.products li.product h2, ul.products li.product h3 {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: .5407911001em;
}

.widget-area .widget {
    font-size: .875em;
}

.widget {
    margin: 0 0 3.706325903em;
}

.widget .widget-title, .widget .widgettitle {
    font-size: 1.41575em;
    letter-spacing: 0;
    border-bottom: 1px solid rgba(0,0,0,.05);
    padding: 0 0 1em;
    margin-bottom: 1em;
    font-weight: 300;
}

.widget_product_categories ul {
    margin: 0;
    list-style: none;
    padding: 0;
}

.widget_product_categories ul li {
    list-style: none;
    margin-bottom: 1em;
    line-height: 1.41575em;
}

.widget-area .widget a:not(.button) {
    font-weight: 600;
    text-decoration: underline;
}

.widget-area .widget a {
}

ul.products li.product {
    list-style: none;
    margin-left: 0;
    margin-bottom: 4.235801032em;
    text-align: center;
    position: relative;
}

ins, mark {
    text-decoration: none;
    font-weight: 600;
    background: 0 0!important;
}

table {
    border-spacing: 0;
    width: 100%;
    border-collapse: separate;
}

table.cart {
    margin-bottom: 3.706325903em;
}

table.shop_table_responsive thead {
    display: none;
}

table {
    border-spacing: 0;
    width: 100%;
    border-collapse: separate
}

table caption {
    padding: 1em 0;
    font-weight: 600
}

table td,
table th {
    padding: 1em 1.41575em;
    text-align: left;
    vertical-align: top
}

table td p:last-child,
table th p:last-child {
    margin-bottom: 0
}

table th {
    font-weight: 600
}

table thead th {
    padding: 1.41575em;
    vertical-align: middle
}

table tbody h2 {
    font-size: 1em;
    letter-spacing: normal;
    font-weight: 400
}

table tbody h2 a {
    font-weight: 400
}

.woocommerce table.shop_table {
    border: none;
}

.woocommerce table.shop_table td {
    border: none;
}

table.cart .product-thumbnail img {
    margin: 0 auto;
    max-width: 3.706325903em;
    height: auto;
}

table th {
    background-color: #f8f8f8;
}

table.cart td.product-remove, table.cart td.actions {
    border-top-color: #ffffff;
}

table.cart td.product-quantity .qty {
    padding: .326em;
    width: 3.706325903em;
}

.input-text, input[type=email], input[type=password], input[type=search], input[type=text], input[type=url], textarea {
    padding: .6180469716em;
    background-color: #f2f2f2;
    color: #43454b;
    outline: 0;
    border: 0;
    -webkit-appearance: none;
    box-sizing: border-box;
    font-weight: 400;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.125);
}

button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover, .button:hover, .added_to_cart:hover, .widget a.button:hover, .site-header-cart .widget_shopping_cart a.button:hover {
    background-color: #d5d5d5;
    border-color: #d5d5d5;
    color: #333333;
}

.added_to_cart, .button, button, input[type=button], input[type=reset], input[type=submit] {
    border: solid 2px #ffa404;
    border-radius: 30px;
    background: #f6f6f6;
    color: #3a5c02;
    padding: 10px 3rem;
    font-size: 15px;
    font-weight: 700;
}


table tbody td {
    background-color: #fdfdfd;
}

.woocommerce-info, .woocommerce-noreviews, p.no-comments {
    background-color: #3d9cd2;
}

.woocommerce-error a, .woocommerce-info a, .woocommerce-message a, .woocommerce-noreviews a, p.no-comments a {
    color: #fff;
}

.woocommerce-error, .woocommerce-info, .woocommerce-message, .woocommerce-noreviews, p.no-comments {
    padding: 1em 1.618em;
    margin-bottom: 2.617924em;
    background-color: #0f834d;
    margin-left: 0;
    border-radius: 2px;
    color: #fff;
    clear: both;
    border-left: .6180469716em solid rgba(0,0,0,.15);
}

@media (min-width: 768px) {
    .col2-set {
        width: 52.9411764706%;
        float: left;
        margin-right: 5.8823529412%;
    }
    table.shop_table_responsive thead {
        display: table-header-group;
    }
    table.shop_table_responsive tbody tr td,
    table.shop_table_responsive tbody tr th {
        text-align: left
    }
    .cart-collaterals .cart_totals, .cart-collaterals .shipping_calculator {
        width: 52.9411764706%;
        float: right;
        margin-right: 0;
        margin: 0;
        clear: right;
    }
    .cart-collaterals .cart_totals, .cart-collaterals .shipping_calculator {
        width: 52.9411764706%;
        float: right;
        margin-right: 0;
        margin: 0;
        clear: right;
    }
    table.cart td.actions input {
        display: inline-block;
        width: auto!important;
        margin: 0;
    }
    table.cart td.actions .coupon {
        padding-bottom: 0;
        margin-bottom: 0;
        border-bottom: none;
        display: inline-block;
        float: left;
    }
    .cart-collaterals h2 {
        font-size: 1.618em;
    }    
    .form-row-first {
        width: 47.0588235294%;
        float: left;
        margin-right: 5.8823529412%;
        clear: both;
    }
    .form-row-last {
        width: 47.0588235294%;
        float: right;
        margin-right: 0;
    }
    .col2-set {
        width: 52.9411764706%;
        float: left;
        margin-right: 5.8823529412%;
    }
    #order_review, #order_review_heading {
        width: 41.1764705882%;
        float: right;
        margin-right: 0;
        clear: right;
    }
}